name: ec2-creation
on: [push]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: run init
        run: terraform init

      - name: run plan
        run: terraform plan

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: run plan
        run: terraform plan

      - name: run approve
        run: terraform approve -auto-approve
